:root {
    --fondo1: #ffff;
    --textitulos: #212121;
    --navegacion: #2196f3;
    --texcontenido1: #757575;
    --efecto: transform 250ms ease;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}
body {
    height: 0;
}
label {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.backdrop{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .5);
    transition: var(--efecto);
}
.modal{
    width: 528px;
    height: 650px;
    background: var(--fondo1);
    padding: 2rem;
    margin-left: 40%;
    margin-right: 60%;
    position: fixed;
    top: 221px;
    bottom: 222px;
       
}
.btmodal {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 2.22%;
    right: 3px; 
    margin-right: 12px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;  
}
.btmodal:hover > svg path{
    fill: var(--navegacion);
    cursor: pointer;
}
.titulo-modal p {
    color: var(--textitulos);
    width: 448px;
    height: 23px;
    left: 576px;
    top: 261px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 23.44px; 
    text-align: center;
}
.form-hobby {
    width: 400px;
    height: 24px;
}

.is-hidden{
    display: none;
}
.form-input {
    width: 100%;
    padding: 11px 11px 11px 41px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.form-input:hover, .form-input:focus {
    border-color: var(--navegacion);
   
}
.form-input:hover + .iconmodal-person, 
.form-input:hover + .iconmodal-phone, 
.form-input:hover + .iconmodal-email,
.form-input:focus + .iconmodal-person {
    fill: var(--navegacion);
    transition: var(--efecto);  
}

.iconmodal-person,
.iconmodal-phone, 
.iconmodal-email {
    width: 14px;
    height: 14px;
    position: relative;
}
.iconmodal-person {
    position: absolute;
    left: 8.67%;
    right: 16.67%;
    top: 19.17%;
}
.iconmodal-phone {
    position: absolute;
    left: 8.67%;
    right: 16.67%;
    top: 28.70%;
}
.iconmodal-email {
    position: absolute;
    left: 8.67%;
    right: 16.67%;
    top: 38.55%;
}
.placeholder {
    position: absolute;
    left: 8.67%;
    right: 16.67%;
    top: 41.17%; 
}
textarea {
    padding: 10px;
}
.form-hobby {
    width: 400px;
    height: 30px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: var(--texcontenido1);
}
.checkbox-input {
    position: absolute;
    width: 16px;
    height: 38px;
    
    
}

.check-icon {
    position: relative;
    
}

.btnenviar {
    width: 200px;
    height: 40px;
    position: absolute;
    background-color: #188CE8;
    display: flex;
    justify-content: center;
    align-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.colorenviar {
    color: var(--fondo1);
    background-color: #188CE8;
}
button {
    border: none;
}
.check {
    position: relative;
    display: grid;
    grid-template-columns: 5% 95%;
    padding-left: 4px;
    padding-top: 10px;
    margin-left: 18px;
}
.section-enviar {
    padding-top: 15px;
    display: flex;
    justify-content: center;
    align-content: space-between;
}