
:root {
    --navegacion: #2196F3;
    --texcontenido1: #757575;
    --textitulos: #212121;
    --fondo1: #FFFF;
    --fondo2: #E5E5E5;
    --fondo3: #2F303A;
    --fondo4: #F5F4FA;  
}
html {
    box-sizing: border-box;  
}
body {
    font-family: 'Roboto', sans-serif; 
}
main {
    background-color: var(--fondo2);
}
h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

p {
    color: var(--texcontenido1);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
ul {
    list-style: none;
}

header {
    background-color: var(--fondo1);
    color: var(--textitulos);
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    width: 1600px;
    height: 140px;
    left: 0px;
    /*margin: auto;
            width: 1600px;
            height: 300px;
            padding: 10rem;*/
}

a {
    text-decoration: none;   
}
footer {
    background-color: var(--fondo3);
    width: 100%;
    height: 252px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo {
    color: var(--navegacion);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    width: 145px;
    height: 18px;
    top: 24px;
    left: 215px;
    
}

.navegacion {  
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    display: flex;
    width: 1600px;
    height: 80px;
    justify-content: space-between;
    padding: 2rem;  
    
}
.navegacion-superior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}.navegacion-contactos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}
.titulos {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #212121;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navegacion .titulos:hover {
    color: var(--navegacion);    
} 
.navegacion-final {
    color: var(--fondo1);
}

 
.informacion {
    text-decoration: none;
    color: var(--fondo1);
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        
}
.informacion:hover {
    color: var(--navegacion);
}
.titulo {
    color: var(--fondo1);
    
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-align: center;
}
.informacion {
    color: var(--fondo1);
}

.btn {
    color: var(--textitulos);
    font-family: 'Roboto', sans-serif;
        font-weight: 500;
    cursor: pointer;  
}
.btn:hover {
    color: var(--navegacion);
}
.btn1 {
    background-color: var(--navegacion);
    color: var(--fondo1);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
}
.btn1:hover {
    color: var(--textitulos);
    
} 
.ubicacion {
   display: flex; 
   justify-content: center;
}

.principal {
    background: var(--fondo3);
    margin: auto;
    width: 1600px;
    height: 300px;
    padding: 10rem;  
}
.negocios {
    background-color: var(--fondo1);
    color: var(--textitulos);
    font-family: 'Roboto', sans-serif;
    font-weight: 400; 
   
    text-align: center;
     
}

.negocio {
    color: var(--textitulos);
    background-color: var(--fondo1);  
}
.negocio:hover {
    color: var(--navegacion);
}
.contenedor {
    background-color: var(--fondo4);
}
.nosotros {
    background-color: var(--fondo2); 
    margin: auto;
    height: 300px;
    padding: 3rem;
    display: flex;
    justify-content: space-around; 
    align-items: center;     
}
    
.detalles {
    display: flex;
}
.titulo-fuertes {
    text-align: center;
    font-size: 45px;
    padding: 3rem;   
}

.imagen-fuertes {
   width: 100%; 
   display: flex; 
   justify-content: space-evenly;   
}

.fuerte {
    background-color: var(--fondo2);
    width: 1600px;
    margin: 5%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}
.logros {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
    padding: 2rem;
}
.subtitulos {
    color: var(--textitulos);
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
}
.equipo {
    padding: 3rem;
    display: flex;
    justify-content: space-evenly;
}
.card-image {
    display: flex;
    max-width: 100%;
    height: auto;
}

.card-heading {
   margin: 0; 
   padding: 5px;
}

