
:root {
    --navegacion: #2196F3;
    --texcontenido1: #757575;
    --textitulos: #212121;
    --fondo1: #FFFF;
    --fondo2: #E5E5E5;
    --fondo3: #2F303A;
    --fondo4: #F5F4FA;  
}
* {
    box-sizing: border-box;  
}
body {
    font-size: 14px;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
        background-color:var(--fondo2);
    
}
main {
    background-color: var(--fondo2);
    
}
h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

p {
    color: var(--texcontenido1);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
ul {
    list-style: none;
    padding: 0;
}

header {
    background-color: var(--fondo2);
    color: var(--textitulos);
    width: 100%;
    
    height: 140px;
}

a {
    text-decoration: none;   
}
footer {
    background-color: var(--fondo3);
    margin: 0 auto;
        width: 1600px;
        height: 252px;
        padding: 2rem;
    display: flex;
    justify-content: space-between;
    
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.final {
    padding-left: 5rem;
}

.logo {
    color: var(--navegacion);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    width: 145px;
    font-size: 25px;
    top: 24px;
    left: 215px;   
}
.navegacion {  
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    background-color: var(--fondo1);
    font-weight: 500;
    width: 1600px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 5rem;   
    
}
.navegacion-superior {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}
.navegacion-contactos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
}
.titulos {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #212121;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.titulo {
    color: var(--fondo1);
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    
    text-align: center;
}

.navegacion .titulos:hover {
    color: var(--navegacion);    
} 
.navegacion-final {
    color: var(--fondo1);
}
.informacion {
    text-decoration: none;
    color: var(--fondo1);
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        display: inline-block;
       
}
.informacion:hover {
    color: var(--navegacion);
}

.informacion {
    color: var(--fondo1);
}

.btn {
    background-color: var(--fondo4);
    color: var(--textitulos);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    cursor: pointer;
    margin: 20px 10px;   
    padding: 1rem; 
    border: 0;
    
}
.btn:hover {
    color: var(--navegacion);
}
.btn1 {
    background-color: var(--navegacion);
    color: var(--fondo1);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    width: 261px;
    height: 50px;
    text-decoration: none;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}
.btn1:hover {
    color: var(--textitulos);
    
} 
.ubicacion {
   display: flex; 
   justify-content: center;
}

.principal {
    background: var(--fondo3);
    width: 1600px;
    margin: 0 auto;
    height: 600px;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.negocios {
    background-color: var(--fondo1);
    color: var(--textitulos);
    font-family: 'Roboto', sans-serif;  
      
}

.negocio a{
    color: var(--texcontenido1);
    background-color: var(--texcontenido1);
    text-align: center; 
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
    
}
.negocio-studio {
    color: var(--texcontenido1);
    margin: auto;
    padding: 1rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
}
.negocio-studio:hover {
    color: var(--navegacion);
}
.negocio:hover {
    color: var(--navegacion);
}

.nosotros {    
    margin: auto;   
    padding: 2rem;
    display: flex;
    justify-content: space-around; 
    align-items: center;     
}   
.detalles {
    display: flex;
}
.titulo-fuertes {
    text-align: center;
    font-size: 45px;
    background-color: var(--fondo1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    margin: 0;   
}
.titulo-fuertes2 {
    text-align: center;
        font-size: 45px;
        background-color: var(--fondo4);
        display: flex;
        justify-content: center;
        align-items: end;
        width: 100%;
        height: 140px;
        margin: 0;

}
.imagen-fuertes {
        display: flex;
        justify-content: space-around;
         
}
.funcion {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    margin-bottom: 40px;
}

.fuerte { 
    background-color: var(--fondo1);
    width: 1600px;
    margin: 0 auto;
    padding-bottom: 5%;
    display: flex;
    justify-content: space-around;
}
.logros {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    padding-top: 3rem; 
    padding-left: 1rem;  
}
.subtitulos {
    color: var(--textitulos);
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
}
.equipo {     
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 1rem; 
        padding-bottom: 5rem;
        background-color: var(--fondo4);
        margin: 0 auto;      
}
.talento {
    background-color: var(--fondo4);
    margin: 0 auto;
    width: 1170px;
    margin: 0 auto;
       /*width: 100%;*/
        height: 800px;
        padding: 2rem;      
}

.card-image {
    display: flex;
    max-width: 100%;
    height: auto;
}
.card-heading {
   margin: 10px; 
   text-align: left;
}
.card-heading2 {
    margin: 0;
    padding: 1rem;
    text-align: center;
}

.especialista { 
    height: auto;
    margin: 0;
    padding: 1rem;
}
.ubicacion {
    display: flex;
    align-items: flex-start;
}
.paginas {   
    padding: 20px 0;
    background-color: var(--fondo1);
    display: flex;
    
       justify-content: center;
       align-content: end;
       max-width: 100%; 
       margin: 0 auto;      
}
.botones-2 {
    background-color: var(--fondo2);
    
}
.proyectos {
        padding: 1rem;
        display: grid;
        grid-template-columns: 300px 300px 300px; 
        column-gap: 3rem; 
        row-gap: 3rem;  
}
.tiendas-web {
    background-color: var(--fondo1);
    height: 90px;
    margin: 0;
    display: block;
}

.container {
    width: 1600px;
    margin: 0 auto;

}
.cards-container {
    width: 100%;
    padding: 5rem;
    background-color: var(--fondo1);
   
    
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
.card {
    width: 370px;
    height: 404px;
    padding-bottom: 1rem;
    background-color: var(--fondo1);
    border: 1px solid var(--fondo1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);;
    
   
}
.card-tiendas {
    width: 370px;
        height: 404px;
        background-color: var(--fondo1);

}
.card > img {
    width: 100%;
    height: auto;
    padding: 1rem;
    
}
.card-body {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 54px;
}



