:root {
    --navegacion: #2196F3;
    --texcontenido1: #757575;
    --textitulos: #212121;
    --fondo1: #FFFF;
    --fondo2: #E5E5E5;
    --fondo3: #2F303A;
    --fondo4: #F5F4FA;
}
body {
    background-color: var(--fondo2);
    font-family: 'Roboto', sans-serif;

}
.logo {
    color: var(--navegacion);
}
header {
    background-color: var(--fondo1);
    color: var(--textitulos);
}

a {
    text-decoration: none;  
    
}
.navegacion {
    
    text-decoration: none;
}
.navegacion .titulos:hover {
    color: var(--navegacion);
      
}
    
.titulos {
    color: #212121;       
}
 h3 h4 {
    font-family: 'Roboto', sans-serif;
     font-weight: 500;
 }
 
p {
    color: var(--texcontenido1);
}
.logo {
font-family: 'Raleway', sans-serif;
font-weight: 700;
}
