
:root {
    --navegacion: #2196F3;
    --texcontenido1: #757575;
    --textitulos: #212121;
    --fondo1: #FFFF;
    --fondo2: #E5E5E5;
    --fondo3: #2F303A;
    --fondo4: #F5F4FA;  
}
html {
    box-sizing: border-box;  
}
body {
    font-family: 'Roboto', sans-serif;
    
}
h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

p {
    color: var(--texcontenido1);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

header {
    background-color: var(--fondo1);
    color: var(--textitulos);
}

a {
    text-decoration: none;   
}
footer {
    background-color: var(--fondo3);
}
.logo {
    color: var(--navegacion);
    display: flex;
    justify-content: space-between;
}
.navegacion {  
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
        font-weight: 500;
}
.navegacion .titulos:hover {
    color: var(--navegacion);    
} 
.navegacion-final {
    color: var(--fondo1);
}
.titulos {
    text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        color: #212121;
}
.superior {
    background-color: red;
    width: 120rem;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.informacion {
    text-decoration: none;
    color: var(--fondo1);
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
}
.informacion:hover {
    color: var(--navegacion);
}
.titulo {
    color: var(--fondo1);
}
.informacion {
    color: var(--fondo1);
}

.btn {
    color: var(--textitulos);
    font-family: 'Roboto', sans-serif;
        font-weight: 500;
    cursor: pointer;  
}
.btn:hover {
    color: var(--navegacion);
}
.btn1 {
    background-color: var(--navegacion);
    color: var(--fondo1);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
}
.btn1:hover {
    color: var(--textitulos);
    
} 
.logo {
font-family: 'Raleway', sans-serif;
font-weight: 700;
}
.principal {
    background: var(--fondo3);
     
}
.negocios {
    background-color: var(--fondo1);
    color: var(--textitulos);
    font-family: 'Roboto', sans-serif;
        font-weight: 400; 
}
.negocio {
    color: var(--textitulos);
    background-color: var(--fondo1);
}
.negocio:hover {
    color: var(--navegacion);
}
.contenedor {
    background-color: var(--fondo4);
}
.nosotros {
    background-color: var(--fondo2);
}