.principal {
    background-image: url(../img/Soluciones1.jpg);
    background-repeat: no-repeat;
    width: 1600px;
    margin: 0 auto;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    }
  
  .hero {
    background-color: rgba(47, 48, 58, 0.4);
    width: 1600px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
    .titulo {
      color: $fondo1;
      font-family: 'Roboto', sans-serif;
      font-weight: 900;
      text-align: center;
      font-size: 44px;
    }

    .ubicacion {
      display: flex;
      justify-content: center;
    }

    .btn1 {
      background-color: $navegacion;
      color: $fondo1;
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      width: 261px;
      height: 50px;
      text-decoration: none;
      border: 0;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 250ms $efecto;
    }
    .btn1:hover, 
    .btn1:focus {
    color: $textitulos;
    }