    $navegacion: #2196f3;
    $texcontenido1: #757575;
    $textitulos: #212121;
    $fondo1: #ffff;
    $fondo2: #e5e5e5;
    $fondo3: #2f303a;
    $fondo4: #f5f4fa;
    $iconos: #AFB1B8;
    $efecto: transform 250ms ease;
    $transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 